body{
background-color: lightgrey;
}

.inner-main-nav{
    max-width: 1500px;
    margin: auto;
}
.inner-main-nav ul{
    text-align: right;
    margin: 0;
    padding: 50px 0;
}
.inner-main-nav ul li{
    float: none;
    display: inline-block;
}
.inner-main-nav ul li:nth-child(1),
.inner-main-nav ul li:nth-child(2),
.inner-main-nav ul li:nth-child(3)
{
    float: left;
}
.inner-main-nav ul li a{
    margin: 0 35px;
    font-family: Arial;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
.logo{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 58%;
    transform: translateX(-35%);
}
.logo img{
    width: 100%;

}
